<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.particle.cloudsdk.example_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Switcht Beta"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.particle.cloudsdk.example_app.SplashActivity"
            android:label="Switcht Beta" >

        </activity>
        <activity
            android:name="io.particle.cloudsdk.example_app.LoginActivity"
            android:label="Switcht Beta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.particle.cloudsdk.example_app.ValueActivity"
            android:label="Real time data" >
        </activity>
    </application>

</manifest>
